header{
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 6rem;
    box-shadow: 0 0 10px rgb(197, 197, 197);
    padding: 0 2rem;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color: white;
    font-size: 30px;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.options{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.logo{
    display: flex;
    width: 170px;
    height: 140px;
    justify-content: center;
    align-items: center;
}