<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">

<nav>
    <section>
        <a routerLink="login"><img src="../../../assets/Image/usuario.png" alt="login" class="icon"></a>
    </section>
    <section>
        <a href=""><img src="../../../assets/Image/config.png" alt="Configurações" class="icon"></a>
    </section>
</nav>